div.angle {
    display: inline-block;
    position: fixed;
    left:50px;
    top:20px;
    text-align: center;
}
#robotAngle {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
}

div.flywheel {
    display: inline-block;
    position: fixed;
    left:300px;
    top:20px;
    text-align: center;
}
#flywheelRPM {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
}

#driveMode {
    position: fixed;
}
#matchTime {
    position: fixed;
}
#matchPhase {
    position: fixed;
}
#matchColor {
    position: fixed;
}